<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="CGI_rb" path="*.rb" verb="GET,HEAD,POST,DEBUG,PUT,DELETE" modules="CgiModule" scriptProcessor="C:\Ruby193\bin\ruby.exe &quot;%s&quot;" resourceType="File" requireAccess="Script" />
            <add name="CGI_cgi" path="*.cgi" verb="GET,HEAD,POST,DEBUG,PUT,DELETE" modules="CgiModule" scriptProcessor="C:\Ruby193\bin\ruby.exe &quot;%s&quot;" resourceType="File" requireAccess="Script" />
        </handlers>
        <staticContent>
            <remove fileExtension=".mpg" />
            <remove fileExtension=".mov" />
            <mimeMap fileExtension=".mov" mimeType="video/mp4" />
            <mimeMap fileExtension=".mpg" mimeType="video/mpeg" />
        </staticContent>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1000000000" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
